<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :account_id, :value => params[:account_id] || @evaluation.account_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.where(category_class: "Evaluation").all.map{ |c| [c.name,c.id]} %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
