<h2>Editing Evaluation</h2>

<%= render 'form' %>

<%= link_to 'Back', account_path(@evaluation.account) %>

<%= form_for(@evaluation) do |f|%>
  <% @evaluation.category.field_groups.each do |field_group| %>
     <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "##{field_group.name}"%>>
          <%= field_group.name %>
          </a>
        </div>
        <div id="<%= field_group.name %>" class="accordion-body collapse in">
          <div class="accordion-inner">
            <fieldset>
              <table class="table table-hover">
                <thead>
                  <th>Name</th>
                  <th></th>
                  <th>Value</th>
                </thead>
                <%= f.fields_for :field_details do |field_detail| %>
                  <% if field_detail.object.field.field_group.id == field_group.id %>
                  <tr>
                    <td><%= field_detail.label field_detail.object.field.name %></td>
                    <td><div class="slider-range-min"></td>
                    <td>
                      </div><%= field_detail.text_field :value, class: "test" %>
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
  <% end %>
  <%= f.submit "save", class: "btn pull-right" %>
<% end %>