  

<p>
  <strong>Account:</strong>
  <%= @evaluation.account_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @evaluation.category_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @evaluation.score %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', account_path(@evaluation.account) %>
