<%= form_for(@task) do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :due_date %>
    <%= f.text_field :due_date, class: "datepicker" %>

    <%= f.label :assignee_id %>
    <%= f.select :assignee_id, User.all.map{ |u| [u.username,u.id]} %>
  
    <br>
    <br>
    <%= f.submit class: "btn" %>
  </fieldset>
<% end %>