<% (asset.keys - [:count, :name]).map{|c| c.to_s}.compact.each do |type|%>
  <div class="accordion-group no-border">
    <div class="accordion-heading accordion-heading-border">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%=asset[:name]%>-<%=type%>">
        <% if asset[:name] != "completed" %>
          <%= "#{type.humanize} (#{asset[type.to_sym].count})" %>
        <% else %>
          <%= "#{type.humanize}" %>
        <% end %>
      </a>
    </div>
    <div id="<%=asset[:name]%>-<%=type%>" class="accordion-body collapse in">
      <div class="accordion-inner no-border">
        <ul class="media-list">
          <% asset[type.to_sym].each do |task| %>
            <%= render partial: "tasks/table_line", locals: {task: task, type: asset[:name]}%>
          <% end %>
        <ul>
      </div>
    </div>
  </div>
<% end %>