<% if type == "pending"%>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" src="http://fc02.deviantart.net/fs71/f/2010/331/4/e/darth_vader_icon_64x64_by_geo_almighty-d33pmvd.png">
    </a>
    <div class="media-body">
      <span class="media-heading"><strong><%= link_to task.name, task_path(task) %></strong></span> by <span class="media-heading"><strong><%= task.user.username %></strong></span><br>
      <%= "Due: #{task.due_date}"%><br>
    <div>
      <%= link_to "Complete Task", "tasks/#{task.id}?task[status]=Completed", method: "put" %>
    <li>
  <hr>
<% elsif type == "assigned" %>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" src="http://fc02.deviantart.net/fs71/f/2010/331/4/e/darth_vader_icon_64x64_by_geo_almighty-d33pmvd.png">
    </a>
    <div class="media-body">
      <span class="media-heading"><strong><%= link_to task.name, task_path(task) %></strong></span> to <span class="media-heading"><strong><%= task.assignee.username %></strong></span><br>
      <%= "Due: #{task.due_date}"%><br>
    <div>
      <%= link_to "Cancel Task", "tasks/#{task.id}", method: "delete" %>
  <li>
  <hr>
<% else %>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" src="http://fc02.deviantart.net/fs71/f/2010/331/4/e/darth_vader_icon_64x64_by_geo_almighty-d33pmvd.png">
    </a>
    <div class="media-body">
      <span class="media-heading"><strong><%= link_to task.name, task_path(task) %></strong></span><br>
      <%= "Due: #{task.due_date}"%><br>
      <%= "Completed: #{task.updated_at.to_date.to_s(:long)}"%><br>
    </div>
  <li>
  <hr> 
<% end %>