<h3>Tasks</h3>
<ul class="nav nav-tabs" id="taskStatus">
  <li class="active"><a href="#pending">Pending <%= "(#{@pending[:count]})"%></a></li>
  <li><a href="#assigned">Assigned <%= "(#{@assigned[:count]})"%></a></li>
  <li><a href="#completed">Completed</a></li>
  <li><%= link_to "New Task", "#newTask"%></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="pending">
    <%= render partial: "tasks/table", locals: {asset: @pending}%>
  </div>
  <div class="tab-pane" id="assigned">
    <%= render partial: "tasks/table", locals: {asset: @assigned}%>
  </div>
  <div class="tab-pane" id="completed">
    <%= render partial: "tasks/table", locals: {asset: @completed}%>
  </div>
  <div class="tab-pane" id="newTask">
    <%= render "tasks/form" %>
  </div>
</div>