<h3>Tasks > <%= @task.name %></h3>
<div class="well">
Name: <%= @task.name %><br>
By: <%= link_to @task.user.username, "" %><br>
To: <%= link_to @task.assignee.username, "" %><br>
Due: <%= date_long(@task.due_date) %><br>
Status: <%= @task.status %>
</div>

<%= render partial: "shared/comment", locals: {asset: @task} %>