

<table class="table table-hover">
  <thead>
    <th>#</th>
    <th><%= t(:name) %></th>
    <th><%= t(:type) %></th>
    <th><%= t(:action) %></th>
  </thead>
  <% field_group.fields.each_with_index do |f,index| %>
    <tr>
      <td><%= index+1%></td>
      <td><%= f.name %></td>
      <td><%= f.type %></td>
      <td><%= link_to t(:destroy), f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<a href="#myModal" role="button" class="btn" data-toggle="modal"><%= t(:create_field) %></a>
 
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t(:create_field) %></h3>
  </div>
  <div class="modal-body">
    <%= render partial: "fields/form", locals: {field_group: field_group}%>
  </div>
</div>


