<table class="table table-hover">
  <thead>
    <th>Comments</th>
  </thead>
  <tbody>
    <% asset.comments.each do |comment|%>
      <tr>
        <td><a><%= comment.user.username %></a><i> - </i><%= comment.comment %><br><i><%= date_long(comment.created_at)%></i></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_for(Comment.new) do |f|%>
<div class="row-fluid">
  <div class="span5">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :commentable_id, value: asset.id %>
    <%= f.hidden_field :commentable_type, value: asset.class.name %>
    <%= f.text_area :comment, class: "w100" %>
  </div>
  <div class="span7">
    <%= f.submit "comment", class: "btn" %>
  </div>
</div> 
<% end %>