<% if current_user %>
<ul class="nav nav-tabs nav-stacked">
  <% @sidebar_active == "dashboard" ? active = "active" : active = active %>
  <li class=<%= active %>><%= link_to "Dashboard", root_path %></li>
    <% Setting.sidebar.each do |menu| %>
      <% if menu == @sidebar_active %>
        <li class="active"><%= link_to titlelize(menu), "#{menu}".to_sym %></li>
      <% else %>
        <li><%= link_to titlelize(menu), "#{menu}".to_sym %></li>
      <% end %>
    <% end %>
  <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
</ul>
<div id="toggle" class="pull-right">
  <a href="#" class="btn btn-large disabled"><i class="icon-chevron-down"></i></a>
</div>
<% end %>
