<h2><%= titlelize(t(:setting)) %></h2>
<ul class="nav nav-tabs">
  <% Setting.setting_menu.each do |menu| %>
    <% if menu == @menu_active %>
      <li class="active"><%= link_to titlelize(menu), "#{menu}_settings".to_sym %></li>
    <% else %>
      <li><%= link_to titlelize(menu), "#{menu}_settings".to_sym %></li>
    <% end %>
  <% end %>
</ul>



