<%= render partial: "menu" %>

<h2><%= t(:categories)%> <span class="pull-right"><%= link_to t(:new_category), new_category_path, class: "btn"%></span></h2>

<% Setting.category_class.each do |cate_class|%>
<strong><%= titlelize("#{cate_class} #{t(:category)}") %></strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t(:name)%></th>
      <th><%= t(:actions)%></th>
    </tr>
  </thead>
  <% @categories.where(category_class: cate_class).each_with_index do |ac,index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= ac.name %></td>
      <td>
        <ul class="inline">
          <li><%= link_to t(:show), category_path(ac.id) %></li>
          <li><%= link_to t(:destroy), category_path(ac.id), method: "delete", data: { confirm: 'Are you sure ?' } %></li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
<% end %>