<h4><%= titlelize(t(:field_group)) %></h4>
<%= form_for(FieldGroup.new) do |f| %>
  <fieldset>
    <div class="input-append pull-right">
      <%= f.text_field :name %>
      <%= f.hidden_field :category_id, :value => @category.id %>
      <%= f.submit "Create", class:"btn" %>
    </div>
  </fieldset>
<% end %>
<div class="accordion" id="accordion2">
  <% @category.field_groups.each do |fg| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "##{fg.name}"%>>
        <%= fg.name %>
      </a>
    </div>
    <div id="<%= fg.name %>" class="accordion-body collapse in">
      <div class="accordion-inner">

        <%= render partial: "field_groups/field", locals: {field_group: fg} %>
        <hr>
        <p class="text-right">
          <%= link_to t(:destroy_field_group), fg, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>