<%= render partial: "settings/menu" %>
  

<h4><%= titlelize("#{@category.category_class} / #{t(:category)} / #{@category.name}") %></h4>
<%= link_to t(:edit), edit_category_path(@category) %> |
<%= link_to t(:back), category_settings_path %>
<hr>
<%= render partial: "field_group" %>
