<%= form_for Field.new do |f| %>
  <fieldset>
    <%= f.label :name %> 
    <%= f.text_field :name %>
    <% if field_group.category.category_class == "Account" %> 
      <%= f.label :type %> 
      <%= f.select :type, Setting.field_option %>
      <%= f.label :option %>
      <%= f.text_field :option %> 
    <% end %>
    <%= f.hidden_field :field_group_id, :value => field_group.id %>
    <br>
    <%= f.submit "Create", class:"btn" %>
  </fieldset>
<% end %>