<!DOCTYPE html>
<html>
<head>
  <title>LibeautyCrm</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div class="container w100 h100">
  <div class="row-fluid h100">
    <div class="span3">
      <%= render "shared/sidebar"%>
    </div>
    <div class="span8 h100 scrollable">
      <% if notice.present? %>
      <div class='<%= "#{params[:alert_type]}" || "alert" %>'>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
