<% @account.evaluations.each do |evaluation| %> 
  <h5><%= "#{evaluation.category.name} ##{evaluation.id}" %></h5>
  <p class="text-right">
    <%= link_to t(:edit), edit_evaluation_path(evaluation) %> | 
    <%= link_to t(:destroy), evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <div class="accordion" id="Evaluation">
    <% evaluation.category.field_groups.each do |fg| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#Evaluation" href=<%= "#Evaluation#{fg.name}"%>>
          <%= "#{fg.name}" %>
        </a>
      </div>
      <div id="<%= "Evaluation#{fg.name}" %>" class="accordion-body collapse in">
        <div class="accordion-inner">
          <table class="table table-hover">
            <thead>
              <th>#</th>
              <th><%= t(:name) %></th>
              <th><%= t(:value) %></th>
            </thead>
            <% fg.fields.each_with_index do |f,index| %>
              <tr>
                <td><%= index+1%></td>
                <td><%= f.name %></td>
                <td><%= FieldDetail.find_by_evaluation_id_and_field_id(evaluation.id,f.id).try(:value) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>