<div class="accordion" id="accordion2">
  <% @account.category.field_groups.each do |fg| %>
  <div class="accordion-group no-border">
    <div class="accordion-heading accordion-heading-border">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "##{fg.name}"%>>
        <%= fg.name %>
      </a>
    </div>
    <div id="<%= fg.name %>" class="accordion-body collapse in">
      <div class="accordion-inner no-border">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th><%= t(:name) %></th>
            <th><%= t(:value) %></th>
          </thead>
          <% fg.fields.each_with_index do |f,index| %>
            <tr>
              <td><%= index+1%></td>
              <td><%= f.name %></td>
              <td><%= @account.field_detail(f.id).try(:value) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>