<%= form_for(@account) do |f| %>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Value</th>
    </thead>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :category %></td>
      <td><%= f.select :category_id, @account.categories %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit class: "btn" %></td>
    </tr> 
  </table>
<% end %>
