<table class="table table-hover">
  <thead>
    <th>
      <% if accounts.first.present? %>
      <input id="search<%= accounts.first.category.name %>"class="searchByName" data-category="<%= accounts.first.category.id %>" type="text" placeholder="Search by Name"> <i>at least 3 letters</i><br>
      <b><%= "#{accounts.first.category.name} Lists" %></b>
      <% end %>
    </th>
  </thead>
  <tbody>
  <% accounts.each do |account| %>
    <tr>
      <td>
        <i><%= "##{account.id}"%></i>
        <b> <%= link_to account.name, account_path(account) %> </b>
        <i>created by </i>
        <b><a><%= account.user.username %></a></b>,
        <i> <%= account.created_at.to_date.to_s(:long)%></i>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>