<h2>Editing account</h2>

<%= render 'form' %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>

<h3><%= t(:field_group) %></h3>
<%= form_for(@account) do |f|%>
  <% @account.category.field_groups.each do |field_group| %>
     <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "##{field_group.name}"%>>
          <%= field_group.name %>
          </a>
        </div>
        <div id="<%= field_group.name %>" class="accordion-body collapse in">
          <div class="accordion-inner">
            <fieldset>
              <table class="table table-hover">
                <thead>
                  <th>Name</th>
                  <th>Value</th>
                </thead>
                <%= f.fields_for :field_details do |field_detail| %>
                  <% if field_detail.object.field.field_group.id == field_group.id %>
                  <tr>
                    <td><%= field_detail.label field_detail.object.field.name %></td>
                    <% if field_detail.object.field.type == "date" %>
                      <td><%= field_detail.text_field :value, class: "datepicker" %></td>
                    <% elsif field_detail.object.field.type == "long" %>
                      <td><%= field_detail.text_area :value %></td>
                    <% elsif field_detail.object.field.type == "boolean" %>
                      <td><%= field_detail.check_box :value %></td>
                    <% elsif field_detail.object.field.type == "select-box" %>
                      <% collection = field_detail.object.field.option.split(",") %>
                      <td><%= field_detail.select :value, collection %></td>
                    <% else %>
                      <td><%= field_detail.text_field :value %></td>
                    <% end %>
                  </tr>
                  <% end %>
                <% end %>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
  <% end %>
  <%= f.submit "save", class: "btn pull-right" %>
<% end %>