<h3><%= titlelize(t(:account)).pluralize %></h3>

<ul class="nav nav-tabs" id="accountCategories">
  <% @accounts.keys.each.each_with_index do |key,index| %>
    <% index == 0 ? style = "active" : style = ""%>
    <li class="<%= style %>"><a href=<%="##{key.to_s.downcase}"%>><%= key.to_s %></a></li>
  <% end %>
  <li><a href="#importAccount"%>Import Accounts</a></li>
  <li><a href="#createAccount"%>Create Account</a></li>
</ul>
<div class="tab-content">
  <% @accounts.keys.each_with_index do |key,index| %>
    <% index == 0 ? style = "active" : style = ""%>
    <div class="tab-pane <%= style %>" id="<%= key.to_s.downcase %>">
      <%= render partial: "accounts/table", locals: {accounts: @accounts[key]} %>
      Export - <%= link_to "CSV", accounts_path(format: :csv, category: key)%>
    </div>
    <div class="tab-pane" id="importAccount">
      <%= render "accounts/import" %>
    </div>
    <div class="tab-pane" id="createAccount">
      <%= render "accounts/form" %>
    </div>
  <% end %>
</div>