  
<h3><%= "#{@account.category.name} #{@account.name} ##{@account.id}"%></h3>

<ul class="nav nav-tabs" id="accountCategories">
  <li class="active"><a href="#details"%>Details</a></li>
  <!-- <li><a href="#evaluations"%>Evaluations</a></li> -->
  <li><a href="#comments"%>Comments</a></li>
  <li><%= link_to "Edit", edit_account_path(@account) %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="details">
    <%= render "field_group" %>
  </div>
  <div class="tab-pane" id="evaluations">
    <%= link_to t(:create), new_evaluation_path(account_id: @account.id) %>
    <%= render "evaluation" %>
  </div>
  <div class="tab-pane" id="comments">
    <%= render partial: "shared/comment", locals: {asset: @account} %>
  </div>
</div>